<h2 class="title_admin_page">LIST OF COMPANIES</h2>
<% var listcompany=data.listcompany %>

<ul class="list-group list-group-flush" id="list_company">
    <% if (listcompany.length> 0) { %>
        <% listcompany.forEach((company)=> { %>
            <li class="list-group-item d-flex justify-content-between align-items-center"
                onclick="getprofilebyId('<%=company._id.toString() %>')">
                <div class="account_avatar">
                    <img src="<%=company.profilePicture%>" alt="err">
                </div>
                <div class="account_name">
                    <%=company.fullName%> <strong>( <%=company.role%> )</strong>
                </div>

                <div class="history_login">
                    <span class="badge bg-primary rounded-pill">
                        <%=company.lastLogin%>
                    </span>
                </div>


                <!-- <div class="control">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <i class="fa-solid fa-trash"></i>
                </div> -->
            </li>
            <% }); %>
    <% } %>

    <h2 id="list_company_empty">
        <% if(listcompany.length==0) { %>
            No company exist
        <% }; %>
    </h2>


</ul>