<% var account = data.account_details %>
<% var callback= data.callback_url %>
<button type="button" class="btn btn-secondary" onclick="callback('<%=callback%>')">
    BACK
</button>

<% if (account) { %>
    <div class="container-fluid light-style flex-grow-1 container-p-y profile_page">
        <div class="card">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col col-lg-4 col-12 pt-0">
                    <div class="list-group list-group-flush account-settings-links">
                        <div class="avatar media align-items-center">
                            <img src='<%= account.profilePicture%>' alt class="d-block ui-w-80">
                            <div class="full_name">
                                <%= account.fullName%>
                            </div>
                        </div>
                        <div class="alert alert-success d-flex align-items-center" role="alert">
                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                                <use xlink:href="#check-circle-fill" />
                            </svg>
                            <div>
                                Authorized account: <strong>
                                    <%= account.role%>
                                </strong>
                            </div>
                        </div>
                        <a class="list-group-item list-group-item-action active" data-toggle="list"
                            href="#account">Account</a>


                    </div>
                </div>
                <!-- //TODO: sửa lại thành form -->
                <div class="col col-lg-8 col-12">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account">

                            <div class="card-body">

                                <button type="button" class="btn btn-<% if (account.lock){%>primary<%}else{%>danger<%}%>" id="lock_unlock_Account"
                                onclick="lock_unlock_Account('<%=account._id.toString() %>')"><% if (account.lock){%>Unlock Account<%}else{%>Lock Acount<%}%></button>&nbsp;

                                <form method="POST">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Username <strong>(can not change)</strong></label>
                                        <input type="text" class="form-control mb-1" value="<%= account.username%>"
                                            placeholder="username" disabled>
                                    </div>
                                    <!-- <div class="form-group mb-3">
                                        <label class="form-label">Email <strong>(can not change)</strong></label>
                                        <input type="text" class="form-control mb-1" value="<%# account.email%>"
                                            placeholder="Email" disabled>

                                    </div> -->
                                    <div class="form-group mb-3">
                                        <label class="form-label">Fullname <strong>(can not change)</strong></label>
                                        <input type="text" class="form-control" value="<%= account.fullName%>"
                                            placeholder="Fullname" name="fullname" disabled>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label">Time created <strong>(can not change)</strong></label>
                                        <input type="text" class="form-control" value="<%= account.createdAt%>"
                                            placeholder="Time created" disabled>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label class="form-label">Last login <strong>(can not change)</strong></label>
                                        <input type="text" class="form-control" value="<%= account.lastLogin%>"
                                            placeholder="Last login" disabled>
                                    </div>

                                </form>


                                <hr class="border-light m-0">

                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>
    <% } %>